<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        td{
            padding-left: 10px;
        }
        .title{
            font-weight: 600;
        }
        p{
            font-size: 25px;
        }
    </style>
</head>
<body>
    <p><a href="{{web}}"><strong>{{inst}}</strong></a> has requested for faculty recruitment.</p>
    <table>
        <tr>
            <td class="title">Name :</td>
            <td>{{name}}</td>
        </tr>
        <tr>
            <td class="title">email :</td>
            <td>{{email}}</td>
        </tr>
        <tr>
            <td class="title">Phone :</td>
            <td>{{phone}}</td>
        </tr>
    </table>
</body>
</html>